<div class="d-flex myfont" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MENU </div>
        <hr>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="/index">PAGINA WEB</a>
            <a class="list-group-item list-group-item-action bg-light" href="/leer-producto">VER PRODUCTOS</a>
            <a class="list-group-item list-group-item-action bg-light" href="/leer-pedido">VER PEDIDOS</a>
            <a class="list-group-item list-group-item-action bg-light" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify">
            <button class="btn btn-ligth" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <span class="separate"></span>
            <a class="navbar-brand" href="#">{{tienda}}</a>
        </nav>
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-sm-3"></div>
                <div class="col-sm">
                    <hr>
                    <h2 class="font-weight-bold" align="center">CREAR PRODUCTO</h2>
                    <hr>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Titulo:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.titulo"
                                    oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Marca:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.marca"
                                    oninput="this.value = this.value.toUpperCase()"
                                    class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Descripcion:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.descripcion"
                                    oninput="this.value = this.value.toUpperCase()"
                                    class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Material:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.material"
                                    oninput="this.value = this.value.toUpperCase()"
                                    class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Categoria:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <select class="form-control form-control-sm" [(ngModel)]="producto.categoria"
                                    [compareWith]="compareFn" (change)="seleccionarCategoria()">
                                    <option [ngValue]="0"></option>
                                    <option *ngFor="let categoria of categorias; let i=index" [ngValue]="categoria">
                                        {{categoria.descripcion}}</option>
                                </select>
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Subcategoria:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <select [compareWith]="compareFn" class="form-control form-control-sm" [(ngModel)]="producto.subcategoria">
                                    <option [ngValue]="0"></option>
                                    <option *ngFor="let subcategoria of subcategorias; let i=index" [ngValue]="subcategoria">
                                        {{subcategoria.descripcion}}
                                    </option>
                                </select>
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Compra:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.compra" class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-usd"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Precio:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.precio" class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-usd"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Descuento:</label>
                        <div class="col-sm-9 form-group">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="producto.descuento"
                                    class="form-control form-control-sm">
                                <div class="input-group-text"><i class="fa fa-usd"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Garantia:</label>
                        <div class="col-sm form-group">
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" [(ngModel)]="producto.garantia" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text font-weight-bold">MESES</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Tallas:</label>
                        <div class="col-sm form-group">
                            <div class="input-group">
                                <select [compareWith]="compareFn" [(ngModel)]="tallaForm" class="form-control form-control-sm">
                                    <option [ngValue]="0"></option>
                                    <option *ngFor="let talla of tallas; let i=index" [ngValue]="talla.valor">
                                        {{talla.valor}}</option>
                                </select>
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Colores:</label>
                        <div class="col-sm form-group">
                            <div class="input-group">
                                <select [compareWith]="compareFn" [(ngModel)]="colorForm" class="form-control form-control-sm">
                                    <option [ngValue]="0"></option>
                                    <option *ngFor="let color of colores; let i=index" [ngValue]="color.valor">
                                        {{color.valor}}</option>
                                </select>
                                <div class="input-group-text"><i class="fa fa-product-hunt"></i></div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-row">
                        <div class="col-sm form-group">
                            <button class="btn btn-sm btn-block btn-primary" (click)="crearPresentacion()">Agregar
                                Presentacion</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm form-group">
                            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                                <thead class="table-active">
                                    <tr>
                                        <th>No.</th>
                                        <th>TALLA</th>
                                        <th>COLOR</th>
                                        <th>OPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let presentacion of this.producto.presentaciones; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{presentacion.talla.descripcion}}</td>
                                        <td>{{presentacion.color.descripcion}}</td>
                                        <td>
                                            <button (click)="eliminarPresentacion(i)"
                                                class="btn btn-primary form-control-sm"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Imagenes:</label>
                        <div class="col-sm-5 form-group">
                            <input hidden type="file" #botonImagen id="imagen" name="imagen"
                                (change)="cargarImagen($event)">
                            <button (click)="botonImagen.click()"
                                class="btn btn-sm btn-block btn-primary">Cargar</button>
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="imagenes.length>0">
                                <p>{{imagenes[imagenes.length-1].name}}</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm">
                            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                                <thead class="table-active">
                                    <tr>
                                        <th>No.</th>
                                        <th>IMAGEN</th>
                                        <th>OPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let imagen of imagenes; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{imagen.name}}</td>
                                        <td>
                                            <button (click)="eliminarImagen(i)"
                                                class="btn btn-primary form-control-sm"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm form-group">
                            <button class="btn btn-sm btn-block btn-success" (click)="crear()">Crear Producto</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <footer class="text-muted">
                        <div class="container">
                            <p class="float-right">
                                <a href="#">Back to top</a>
                            </p>
                            <p>Ciudad Victoria Tienda Virtual. Todos los derechos reservados 2021.</p>
                            <p>Instagram Ciudad Victoria <a href="../../">Visitala!</a> o haznos una pregunta a <a
                                    href="../../getting-started/">Contactenos</a>.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>